<%= form_for(task) do |t| %>
  <% if task.errors.any? %>
  <div id ="error_ex;lanation">
    <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  
  <%= t.label :content, 'タスク' %>
  <%= t.text_field :content %>
  
  <%= t.label :status,'ステータス' %>
  <%= t.text_field :status %>
  
  <%= t.submit '作成' %>
<% end %>